* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  color: #1A1A1A;
  background: #F6F3EE;
  line-height: 1.6;
}

/* HEADER */

header {
  background: #121212;
  color: white;
  padding: 20px 40px;
  border-bottom: 2px solid #3A5A40;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #EAEAEA;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #588157;
}

/* HERO */

.hero {
  background: linear-gradient(
    135deg,
    #121212,
    #1F2A24
  );
  color: white;
  padding: 120px 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin-top: 20px;
  background: #6B4F3B;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.button:hover {
  background: #3A5A40;
}

/* SECTIONS */

.section {
  padding: 80px 20px;
  text-align: center;
}

.dark {
  background: #ECE7E1;
}

/* SERVICE CARDS */

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 260px;
  border: 1px solid #E3DED7;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

/* FORM */

form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #D8D3CB;
  border-radius: 6px;
}

button {
  background: #3A5A40;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1F2A24;
}

select {
  padding: 12px;
  border: 1px solid #D8D3CB;
  border-radius: 6px;
  font-size: 16px;
  background: white;
}

/* FOOTER */

footer {
  background: #121212;
  color: #EAEAEA;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #3A5A40;
}
